<nav class=" container navbar navbar-expand-lg navbar-light bg-light text-yellow-400">
    <a class="navbar-brand" href="#">myapp</a>
    <a class="navbar-brand" href="/products">products</a>
    <a class="navbar-brand" href="#">cate</a>



</nav>