* {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    color: gray;
}

 :root {
    --main: #448d44;
    --basic: rgb(164 191 164);
    --basic3: #eaebeb;
}

.upper-part {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}

.container {
    padding: 12px 33px;
}


/* navbar*/

nav {
    display: flex;
    justify-content: space-between;
}

nav .left-part {
    display: inline;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    color: var(--main);
    gap: 20px;
}

nav .left-part .first,
nav .left-part .second {
    display: flex;
    gap: 20px;
}

nav .left-part .second {
    display: none;
}

.links {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

nav .search-part {
    display: none;
}

nav .search-part {
    padding: 11px;
    width: 53%;
    background-color: #eaebeb40;
    border-radius: 8px;
}

nav .search-part input[type='text'],
header .search-part input[type='text'] {
    width: 93%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0px 12px;
    font-size: 17px;
}

.menu,
.fav {
    cursor: pointer;
}

header .search-part input[type='text'] {
    width: 86%;
}

.links svg,
.fav svg {
    fill: var(--main);
}

header {
    padding: 13px 0px;
    background: var(--basic3);
    margin-top: 22px;
    border-radius: 8px;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 18px;
    display: none;
}

header ul li a {
    text-decoration: none;
    color: var(--main);
}

header ul li a {
    text-decoration: none;
    color: var(--main);
}

header .search-part {
    width: 100%;
}


/*slide*/

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider-container {
    background-color: var(--basic3);
    height: calc(100% - 29vh);
    transform: translate(0%, 5%);
    border-radius: 5px;
    padding: 26px;
    filter: drop-shadow(2px 1px 1px gray);
    margin-top: 19vh;
}

.img-container-slide {
    filter: drop-shadow(2px 4px 2px #ccc);
    background-color: #fff;
    height: 270px;
    width: 170px;
    transform: matrix(1, -0.2, 0, 1, 2, 26);
}

.img-cont-slid {
    position: relative;
}

.part1-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-cont-slid img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.img-cont-slid .active {
    display: block;
}

.btn-slid-container {
    width: 300px;
    /* margin: 50% auto; */
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 5vh;
}

.slid-exp-container {
    padding: 12px;
}

.btn-slid-container button {
    outline: none;
    border: none;
    height: 14px;
    width: 13px;
}

.slid-exp h1 {
    color: var(--main)
}

.slid-exp button {
    width: 75px;
    color: var(--basic);
    padding: 2px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    border: none;
    margin: 6px 0px;
}

.slid-exp button:active {
    background-color: var(--basic);
    color: white;
}

.active {
    display: block;
}


/*main*/

main {
    margin-top: 12vh;
}

main .book-title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
}

main .book-title a {
    text-decoration: none;
    color: var(--basic);
}

.book-content {
    display: flex;
    align-items: center;
}

.book-content>svg {
    cursor: pointer;
}

.book-container {
    padding: 18px 12px;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.book-container>svg {
    cursor: pointer;
}

.book-card {
    border: 1px solid var(--basic3);
    padding: 15px;
    width: 180px;
    display: grid;
    gap: 15px;
}

.book-detail {
    text-align: center;
    display: grid;
    gap: 11px;
    color: gray;
}

.book-detail div>p:first-child {
    color: red;
    font-weight: 600;
}

.book-detail div>p:nth-child(2) {
    font-size: 12px;
    /* color: blue; */
    margin-top: -2px;
}

.price {
    font-weight: 400px;
    font-size: 17px;
    margin-left: 3px;
}

.down-info {
    display: flex;
    justify-content: space-between;
}

.down-info .fav {
    fill: var(--basic);
    cursor: pointer;
}

.down-info .fav:active {
    fill: goldenrod;
}

.down-info>svg:nth-child(2) {
    fill: red;
    cursor: pointer;
}


/*********footer*********/

footer {
    padding-top: 12px;
    padding-bottom: 16px;
    background-color: var(--basic3);
}

footer a {
    text-decoration: none;
}

footer .social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .social>div {
    display: flex;
    gap: 10px;
}

footer a svg {
    fill: var(--main);
}

.foot {
    display: flex;
    align-items: center;
    padding-top: 12px;
    justify-content: center;
}


/* Extra small devices (phones, 600px and down) */


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .menu,
    .fav,
    header .search-part {
        display: none;
    }
    header ul {
        display: flex;
    }
    nav .left-part .second,
    nav .search-part {
        display: flex;
    }
    .links svg {
        fill: var(--main);
    }
    header {
        border-radius: 0px;
    }
    .btn-slid-container {
        margin: auto;
    }
    .down-info .fav,
    .down-info .cart {
        fill: var(--basic);
        cursor: pointer;
        display: block;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .book-content>svg {
        display: none;
    }
}

display: none;

}

}